@import "tailwindcss" prefix(o);

@theme {
  --font-sans:
    "Inter", --apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.overlay-anchor {
  anchor-name: --overlay-anchor;
}

.overlay-root {
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: fixed;
  position-anchor: --overlay-anchor;
  top: anchor(top);
  left: anchor(left);
  width: calc(anchor-size(width));
  height: calc(anchor-size(height));
  overflow: hidden;
}

.overlay {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
